@using PurpleBuzz.Areas.Admin.ViewModels.TeamMember
@model TeamMemberCreateVM
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Create Team Member</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form asp-action="create" , asp-controller="teammember" , method="post">
                <div class="form-group">
                    <label asp-for="PhotoPath"></label>
                    <input class="form-control" asp-for="PhotoPath" />
                    <span asp-validation-for="PhotoPath"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Major"></label>
                    <textarea class="form-control" asp-for="Major"></textarea>
                    <span asp-validation-for="Major"></span>
                </div>
                <button class="btn btn-primary" type="submit">Create</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->